Repository 0shade0/Java-Projekt, pull requests merged in 2021-07, with the labels that each got.

#49 Uvedeni grafovi za Vigenere i Hill kriptosustave.
  kriptografija/src/main/java/pmf/math/baza/dao/TekstGrafDAO.java
  kriptografija/src/main/java/pmf/math/filteri/HillFilter.java
  kriptografija/src/main/java/pmf/math/filteri/VigenereFilter.java
  kriptografija/src/main/java/pmf/math/kalkulatori/HillKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/VigenereKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/VigenereKalkulator.java
  kriptografija/src/main/java/pmf/math/konstante/HillMatrice.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/HillKriptosustav.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/VigenereKriptosustav.java
  kriptografija/src/main/java/pmf/math/router/Router.java
Labels: korisničko sučelje, kriptografija

#50 Stupcana transpozicija
  kriptografija/src/main/java/pmf/math/baza/dao/StupcanaDAO.java
  kriptografija/src/main/java/pmf/math/baza/dao/TekstGrafDAO.java
  kriptografija/src/main/java/pmf/math/baza/tablice/StupcanaPovijest.java
  kriptografija/src/main/java/pmf/math/kalkulatori/StupcanaTranspozicijaKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/StupcanaTranspozicijaKalkulator.java
  kriptografija/src/main/java/pmf/math/konstante/OpisiKalkulatora.java
  kriptografija/src/main/java/pmf/math/konstante/UputeKalkulatora.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/StupcanaTranspozicijaSustav.java
  kriptografija/src/main/java/pmf/math/obradaunosa/ObradaUnosa.java
  kriptografija/src/main/java/pmf/math/pomagala/GeneratorKljucaStupcana.java
  kriptografija/src/main/java/pmf/math/router/Router.java
  kriptografija/src/test/java/pmf/math/kriptosustavi/StupcanaTranspozicijaSustavTest.java
Labels: kriptografija

#51 Grafovi brojevi
  kriptografija/src/main/java/pmf/math/algoritmi/TeorijaBrojeva.java
  kriptografija/src/main/java/pmf/math/baza/dao/BrojGrafDAO.java
  kriptografija/src/main/java/pmf/math/baza/tablice/BrojGrafovi.java
  kriptografija/src/main/java/pmf/math/kalkulatori/ElGamalKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/ElGamalKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/RSAKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/RSAKalkulator.java
  kriptografija/src/main/java/pmf/math/konstante/ElGamalPrimjeri.java
  kriptografija/src/main/java/pmf/math/konstante/OpisiKalkulatora.java
  kriptografija/src/main/java/pmf/math/konstante/RSAPrimjeri.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/ElGamalKriptosustav.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/RSAKriptosustav.java
  kriptografija/src/main/java/pmf/math/obradaunosa/ObradaUnosaElGamal.java
  kriptografija/src/main/java/pmf/math/pomagala/Stoperica.java
  kriptografija/src/main/java/pmf/math/router/Opis.java
  kriptografija/src/main/java/pmf/math/router/Router.java
Labels: kriptografija

#52 Popravci cezar supstitucijska
  kriptografija/src/main/java/pmf/math/baza/dao/CezarDAO.java
  kriptografija/src/main/java/pmf/math/baza/dao/SupstitucijskaDAO.java
  kriptografija/src/main/java/pmf/math/baza/dao/TekstGrafDAO.java
  kriptografija/src/main/java/pmf/math/baza/tablice/CezarPovijest.java
  kriptografija/src/main/java/pmf/math/baza/tablice/SupstitucijskaPovijest.java
  kriptografija/src/main/java/pmf/math/kalkulatori/CezarKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/CezarKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/SupstitucijskaKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/SupstitucijskaKalkulator.java
  kriptografija/src/main/java/pmf/math/konstante/OpisiKalkulatora.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/CezarKljucnaRijecKriptosustav.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/SupstitucijskaKriptosustav.java
  kriptografija/src/main/java/pmf/math/router/Router.java
Labels: kriptografija

#53 Dodaci na analizu teksta i Vigenereov kalkulator
  kriptografija/src/main/java/pmf/math/algoritmi/AnalizaTeksta.java
  kriptografija/src/main/java/pmf/math/kalkulatori/AnalizaTekstaKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/AnalizaTekstaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/VigenereKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/VigenereKalkulator.java
  kriptografija/src/main/java/pmf/math/konstante/FrekvencijeSlova.java
  kriptografija/src/main/java/pmf/math/konstante/OpisiKalkulatora.java
  kriptografija/src/main/java/pmf/math/konstante/PodnasloviKonzole.java
  kriptografija/src/main/java/pmf/math/konstante/UputeKalkulatora.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/HillKriptosustav.java
  kriptografija/src/main/java/pmf/math/kriptosustavi/VigenereKriptosustav.java
  kriptografija/src/main/java/pmf/math/router/Konzola.java
  kriptografija/src/main/java/pmf/math/router/Router.java
  kriptografija/src/test/java/pmf/math/kriptosustavi/VigenereKriptosustavTest.java
Labels: korisničko sučelje, kriptografija

#54 Uniformiranje sučelja
  kriptografija/src/main/java/pmf/math/kalkulatori/AfinaKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/AfinaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/AnalizaTekstaKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/AnalizaTekstaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/CezarKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/CezarKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/ElGamalKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/HillKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/PlayfairKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/RSAKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/RSAKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/StupcanaTranspozicijaKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/StupcanaTranspozicijaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/SupstitucijskaKalkulator.form
  kriptografija/src/main/java/pmf/math/kalkulatori/SupstitucijskaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/UvodnaStranica.form
  kriptografija/src/main/java/pmf/math/kalkulatori/UvodnaStranica.java
  kriptografija/src/main/java/pmf/math/kalkulatori/VigenereKalkulator.form
  kriptografija/src/main/java/pmf/math/konstante/ImenaKalkulatora.java
  kriptografija/src/main/java/pmf/math/konstante/VelicineFontova.java
  kriptografija/src/main/java/pmf/math/router/Konzola.form
  kriptografija/src/main/java/pmf/math/router/Konzola.java
  kriptografija/src/main/java/pmf/math/router/Opis.form
  kriptografija/src/main/java/pmf/math/router/Opis.java
  kriptografija/src/main/java/pmf/math/router/Router.form
  kriptografija/src/main/java/pmf/math/router/Router.java
  kriptografija/src/main/resources/logo.png
  kriptografija/src/main/resources/uvodna-slika.png
Labels: korisničko sučelje

#58 Pakiranje Krypt aplikacije u .jar
  kriptografija/pom.xml
  kriptografija/src/main/java/pmf/math/kalkulatori/AfinaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/AnalizaTekstaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/CezarKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/ElGamalKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/HillKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/PlayfairKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/RSAKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/StupcanaTranspozicijaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/SupstitucijskaKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/UvodnaStranica.java
  kriptografija/src/main/java/pmf/math/kalkulatori/VigenereKalkulator.java
  kriptografija/src/main/java/pmf/math/router/Konzola.java
  kriptografija/src/main/java/pmf/math/router/Opis.java
  kriptografija/src/main/java/pmf/math/router/Router.java
Labels: dodatak

#60 Bugfix: Hill kalkulator, Vigenere kalkulator
  kriptografija/src/main/java/pmf/math/kalkulatori/HillKalkulator.java
  kriptografija/src/main/java/pmf/math/kalkulatori/VigenereKalkulator.java
Labels: bug
